<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Imperial</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="gameStarted">
        <ul class="players">
          <player
            v-for="player in game.players"
            v-bind:name="player.name"
            v-bind:cash="player.cash"
            v-bind:bonds="player.bonds"
            v-bind:current_player="game.currentPlayerName"
            v-bind:key="player.name"
          ></player>
        </ul>
        <board
          v-bind:board="board"
          v-bind:add_highlights="addHighlightsToRondel"
        ></board>
        <div class="rondel" v-html="rondel"></div>
        <ul class="nations">
          <nation
            v-for="[nation, data] of game.nations"
            v-bind:flag="flag(nation.value)"
            v-bind:treasury="game.nations.get(nation).treasury"
            v-bind:current_nation="game.currentNation === nation ? 'current_nation' : ''"
            v-bind:key="nation.value"
          ></nation>
        </ul>
        <current-turn
          v-bind:type="game.log[game.log.length - 1].type"
          v-bind:payload="game.log[game.log.length - 1].payload"
        ></current-turn>
        <div class="buttons">
          <action
            v-if="importStatus.active"
            v-bind:action="importStatus.placements"
            v-bind:text="'End import'"
            v-bind:dispatch="runImport"
          ></action>
          <action
            v-else-if="maneuverStatus.active"
            v-bind:action="maneuverStatus.endManeuver"
            v-bind:text="'End maneuver'"
            v-bind:dispatch="endManeuver"
          ></action>
          <action
            v-else-if="purchasingBond || buildingFactory"
            v-for="action in game.availableActions"
            v-bind:key="JSON.stringify(action)"
            v-bind:action="action"
            v-bind:text="actionToText(action)"
            v-bind:dispatch="tickWithAction"
          ></action>
        </div>
      </div>
      <div v-else>
        <input v-model="name" placeholder="name" />
        <div class="buttons">
          <button v-on:click="registerPlayer(name)">
            Play
          </button>
        </div>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
