<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Imperial</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="gameStarted">
        <ul class="players">
          <player
            v-for="player in game.players"
            v-bind:name="player.name"
            v-bind:cash="player.cash"
            v-bind:bonds="player.bonds"
            v-bind:current_player="game.currentPlayerName"
            v-bind:key="player.name"
          ></player>
        </ul>
        <ul class="rondel">
          <rondel-slot
            v-for="slot in game.rondelSlots"
            v-bind:name="slot.name"
            v-bind:nations="slot.nations"
          ></rondel-slot>
        </ul>
        <button v-on:click="tick">
          Tick
        </button>
      </div>
      <div v-else>
        <button v-on:click="startGame">
          Start Game
        </button>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
