<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Imperial</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="gameStarted">
        <ul class="players">
          <player
            v-for="player in game.players"
            v-bind:name="player.name"
            v-bind:cash="player.cash"
            v-bind:bonds="player.bonds"
            v-bind:current_player="game.currentPlayerName"
            v-bind:key="player.name"
          ></player>
        </ul>
        <div class="rondel" v-html="rondel"></div>
        <current-turn
          v-bind:type="game.log[game.log.length - 1].type"
          v-bind:payload="game.log[game.log.length - 1].payload"
        ></current-turn>
        <div>
          It is {{ game.currentNation.value }}'s turn
        </div>
        <div class="buttons">
          <action
            v-for="action in game.availableActions"
            v-bind:key="JSON.stringify(action)"
            v-bind:action="action"
            v-bind:text="actionToText(action)"
            v-bind:dispatch="tickWithAction"
          ></action>
        </div>
      </div>
      <div v-else class="buttons">
        <button v-on:click="startGame">
          Start Game
        </button>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
