<p>Hello <%= @user.name %>!</p>

<p><b><%= link_to @game.name, "https://www.playimperial.club/game/#{@game.id}" %></b> has ended.</p>

<p>The scores are as follows:</p>
<ul>
<% @game.players.each do |player| %>
  <li><b><%= player.user.name %>:</b> <%= player.score %></li>
<% end %>
</ul>
