@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons {
  display: flex;
  justify-content: space-around;
}

.nations {
  background-color: #c4d1a1;
  padding: 2rem 0;
}

.nations div {
  text-align: center;
  font-size: 1.2rem;
}

.rondel {
  margin: 0 auto;
}

.hoverable:hover {
  filter: brightness(125%);
}
