.hoverable {
  stroke-width: 0.5px;
  filter: brightness(0.7);
}

.hoverable:hover {
  filter: url(#brightness);
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
