@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.hoverable {
  stroke-width: 2px;
  filter: brightness(0.7);
}

.hoverable:hover {
  filter: url(#brightness);
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
