@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  background: #224f4a;
  border: none;
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.hoverable {
  stroke-width: 2px;
  filter: brightness(0.7);
}

.hoverable:hover {
  filter: url(#brightness);
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
