<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.initialGames = <%= raw @games.to_json %>;
    </script>
  </body>
</html>
